#portfolio {
  #about-me {
    position: relative;

    .row {
      @extend %page-padding;
    }

    .img-wrap {
      display: inline-block;
      position: relative;
      overflow: hidden;
      width: 180px;
      height: 180px;
      border-radius: 15px;
      background-color: #ddd;
      margin: 10px 60px;

      img {
        width: 100%;
      }
    }

    // Profile Image Cover
    .img-wrap::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.03);
    }

    .img-wrap:hover::before {
      background: rgba($theme-color, 0.1);
    }

    .text-wrap {
      color: #fff;

      .description {
        margin: 10px 0;
        font-size: 0.95rem;

        a {
          color: #fff;
          border-bottom: 1px dashed;

          &:hover {
            border-bottom-style: solid;
            text-decoration: none;
          }
        }
      }

      @media (max-width: 767px) {
        margin-top: 15px;
        text-align: center;
      }

      #icons li {
        i {
          width: 35px;
          height: 35px;
          color: #fff;
          background-color: $theme-dark;
          line-height: 35px;
        }

        i:hover {
          background-color: #fff;
          color: $dark-theme;
        }
      }
    }

    .bg {
      content: "";
      z-index: -1;
      position: absolute;
      width: 100%;
      height: calc(100% + 120px);
      top: -60px;
      background-color: $theme-dark;
    }
  }

  #career {
    @extend %page-padding;
    margin-bottom: 55px;
    margin-top: 55px;
    background-color: $dark-theme;

    .title {
      margin-top: 15px;
      color: $tag-theme;
      font-size: 25px;
      font-weight: 600;
    }

    .exper {
      padding-top: 35px;

      ul.exper-list {
        margin-top: 25px;
        margin-left: 3%;
        border-left: 5px solid $theme-color;
        list-style-type: none;

        li {
          animation-name: fadein;
          animation-duration: 1s;
          animation-timing-function: ease-in-out;
          -webkit-animation-name: fadein;
          -webkit-animation-duration: 1s;
          -webkit-animation-timing-function: ease-in-out;
        }

        li.meta {
          position: relative;
          padding: 15px 0 15px 30px;

          p {
            font-weight: 600;
            line-height: 1rem;
          }

          .date {
            font-size: 0.75rem;
            color: $tag-theme;
          }

          .description {
            font-size: .85rem;
          }
        }

        li.meta::before {
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          top: 42%;
          left: -10px;
          background-color: $theme-color;
          border-radius: 50%;
        }
      }

      @keyframes fadein {
        from {
          transform: translateY(-10%);
          opacity: 0;
        }

        to {
          transform: translateY(0%);
          opacity: 1;
        }
      }
    }

    ul.skill-list {
      margin-top: 20px;
      margin-left: 3%;
      list-style-type: none;
      list-style-position: inside;

      li.skill {
        margin: 8px auto;
        padding-left: 5px;
        font-size: .85rem;
        font-weight: 600;
      }

      li.skill::before {
        content: "•";
        font-size: 200%;
        color: $theme-color;
        padding-right: 5px;
        vertical-align: text-top;
      }
    }

    ul.interests-list {
      margin-top: 20px;
      margin-left: 3%;
      list-style-type: none;
      list-style-position: inside;

      li.interest {
        margin: 8px auto;
        padding-left: 5px;
        font-size: .85rem;
        font-weight: 600;
      }

      li.interest::before {
        content: "•";
        font-size: 200%;
        color: $theme-color;
        padding-right: 5px;
        vertical-align: text-top;
      }
    }

    ul.certificates-list {
      margin-top: 20px;
      margin-left: 3%;
      list-style-type: none;
      list-style-position: inside;

      li.award {
        margin: 8px auto;
        padding-left: 5px;
        font-size: .85rem;
        font-weight: 600;
      }

      li.award::before {
        content: "•";
        font-size: 200%;
        color: $theme-color;
        padding-right: 5px;
        vertical-align: text-top;
      }
    }
  }
}